* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#site-logo {
    height: 2.5rem;
}

header form input:focus {
    box-shadow: 0px 0px 5px 2px white !important;
    border: 1px solid white !important;
}

li a:visited {
    color:black
}

li a:hover {
    background-color: darkkhaki
}

a:hover {
    background-color: darkkhaki;
}

section {
    min-height: 70%;
}

.btn {
    background-color: darkkhaki;
}

footer {
    background-color: darkkhaki;
}

footer>div>img {
    width: 40px;
    height: 40px;
}

table {
    border: 1px black;
}